@{
    ViewData["Title"] = "Exercises";
}

<h2>Exercises</h2>
<div class="text-muted mb-2">A list of the main exercises for each muscle group, you can use for your workouts.</div>
<div class="row">
    <div class="col-6">
        <h3 class="muslce-group-name">Chest</h3>
        <ul class="exercise-list">
            <li>Bench Press</li>
            <li>Push Ups</li>
            <li>Dips</li>
            <li>Cable Crossovers</li>
            <li>Dumbbell Flyes</li>
        </ul>
    </div>
    <div class="col-6">
        <h3 class="muslce-group-name">Back</h3>
        <ul class="exercise-list">
            <li>Pull Ups</li>
            <li>Bent-Over Rows</li>
            <li>Pendlay Rows</li>
            <li>Deadlift</li>
            <li>Lat Pulldown</li>
        </ul>
    </div>
    <div class="col-6">
        <h3 class="muslce-group-name">Arms</h3>
        <ul class="exercise-list">
            <li>Bicep Curls</li>
            <li>Skull Crushers</li>
            <li>Tricep Kickbacks</li>
        </ul>
    </div>
    <div class="col-6">
        <h3 class="muslce-group-name">Abs</h3>
        <ul class="exercise-list">
            <li>Leg Raises</li>
            <li>Crunches</li>
            <li>Plank</li>
        </ul>
    </div>
    <div class="col-6">
        <h3 class="muslce-group-name">Shoulders</h3>
        <ul class="exercise-list">
            <li>Overhead Press</li>
            <li>Dumbbell Lateral Raise</li>
            <li>Face Pulls</li>
        </ul>
    </div>
    <div class="col-6">
        <h3 class="muslce-group-name">Legs</h3>
        <ul class="exercise-list">
            <li>Squats</li>
            <li>Barbell Hip Thrusts</li>
            <li>Leg Press</li>
            <li>Lunges</li>
        </ul>
    </div>
</div>